.new-expen {
    // max-width: 70%;
    border: .2rem solid green;
    margin-bottom: 2%;
    border-radius: 1rem;
    padding: 2%;
}

h3 {
    text-align: center;
    margin-bottom: 2%;
}

.margin-sm {
    margin-bottom: 2%;
}

.error {
    align-items: center;
}
